/* SISTEMA UNIDADES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

.su--body {
  background-image: url("../media/fondo.jpg");
  background-size: cover;
}

.su-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.su--title {
  margin-top: 15px;
  text-align: center;
  color: white;
}
.su-home--container {
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 15px;
  width: 70%;
  margin: auto;
  padding: 2rem;
}

.su-p--container {
  display: flex;
  align-items: center;
}

.su--p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 55px;
}

.su--frase {
  color: white;
  text-align: center;
}

.su--img {
  width: 45%;
}

.button--container {
  width: 70%;
  margin-top: 20px;
  text-align: left;
}

.button--next {
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.548);
}
