* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}

.home__section--h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130vh !important;
}

.home__title {
  color: white;
  font-size: 4rem;
  margin-bottom: 35px;
}

.home__description {
  color: white;
  width: 70%;
  text-align: center;
}

.home__title,
.home__description {
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 0.9s ease forwards;
  animation-delay: 3s; /* Aparecen después de 3s */
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    opacity: 1;
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section__top {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top__title {
  color: white;
  text-align: center;
  width: 30%;
}

.flex__cards {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: space-around;
  align-items: center;
}

.card {
  position: relative;
  border-radius: 15px;
  background-color: rgba(45, 45, 136, 0.685);
  padding: 1rem;
  width: 350px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow: hidden;
  animation: floatCard 4s ease-in-out infinite;
}

.scroll-anim {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 0.9s ease;
}

.scroll-anim.show {
  opacity: 1;
  transform: translateX(0);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 15px;

  background: linear-gradient(
    120deg,
    #3af2ff,
    #4d7bff,
    #bd40ff,
    #ff3ad1,
    #ff3a67,
    #ff9e3a
  );
  background-size: 400% 400%;
  animation: neonBorder 6s linear infinite;

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

/* Animación del borde */
@keyframes neonBorder {
  0% {
    background-position: 0% 50%;
    transform: rotate(0deg) scale(1);
  }
  50% {
    background-position: 100% 50%;
    transform: rotate(1deg) scale(1.02);
  }
  100% {
    background-position: 0% 50%;
    transform: rotate(0deg) scale(1);
  }
}

@keyframes floatCard {
  0% {
    transform: translateY(0px) scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: translateY(-12px) scale(1.015);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
  }
  100% {
    transform: translateY(0px) scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }
}

.card img {
  width: 40%;
  margin: auto;
}

#bg-video {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
