.page__back {
  background-image: url("../media/fondo.jpg");
  background-size: cover;
  min-height: 90vh;
}

/* Centrar todo */
.main--validacion {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.main__container h2,
.main__container h3 {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input estilo futurista */
.main__container input {
  width: 300px;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: 2px solid rgba(180, 100, 255, 0.8);
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  text-align: center;
  backdrop-filter: blur(4px);
  transition: 0.2s;
}

.main__container input::placeholder {
  color: black;
}

.main__container input:focus {
  border-color: white;
  background: rgba(255, 255, 255, 0.25);
}
